<a [routerLink]="['/farm/detail/', id]"><button type="button">Voltar</button></a>
<form [formGroup]="formFarm" (ngSubmit)="onSubmit()" *ngIf="loaded">
  <div class="form-group">
    <label for="owner">Id do dono</label>
    <input
      type="text"
      class="form-control"
      formControlName="owner"
      required
      [value]="formFarm.controls['owner'].value"
    />
  </div>
  <div class="form-group">
    <label for="name">Nome da fazenda</label>
    <input
      type="text"
      class="form-control"
      formControlName="name"
      required
      [value]="formFarm.controls['name'].value"
    />
  </div>
  <div class="form-group">
    <label for="municipality">Municipio</label>
    <input
      type="text"
      class="form-control"
      id="municipality"
      required
      formControlName="municipality"
      [value]="formFarm.controls['municipality'].value"
    />
  </div>
  <div class="form-group">
    <label for="state">Estado</label>
    <input
      type="text"
      class="form-control"
      required
      formControlName="state"
      [value]="formFarm.controls['state'].value"
    />
  </div>
  <div>
    <button type="button" (click)="draw('Circle')" style="cursor: pointer">
      Defina a nova Área da fazenda
    </button>
  </div>

  <input type="submit" value="Editar Fazenda" />
</form>
