form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1rem;
}
form > button {
  width: 100%;
}
.updateButton {
  &:hover {
    background: #212529;
    color: #fff;
    border: 2px solid #212529;
  }
}
