<p routerLink="/farm">Voltar</p>
<div class="form-group">
  <label for="name">Nome da fazenda</label>
  <input type="text" class="form-control" id="name" required />
</div>
<div class="form-group">
  <label for="area">Area</label>
  <input type="text" class="form-control" id="area" name="area" />
</div>
<div class="form-group">
  <label for="centroid">Centroide</label>
  <input type="text" class="form-control" id="centroide" name="centroide" />
</div>
<div class="form-group">
  <label for="geometry">Geometria</label>
  <input type="text" class="form-control" id="geometry" name="geometry" />
</div>
<button>Registar</button>
