<a routerLink="/">Voltar</a>
<div *ngFor="let item of data">
  <p>Id: {{ item.id }}</p>
  <p>Nome:{{ item.name }}</p>
  <p>Municipality:{{ item.municipality }}</p>
  <p>State : {{ item.state }}</p>
  <p>Area: {{ item.area }}</p>
  <p>Creation Data: {{ item.creation_date }}</p>
  <p>Is active:{{ item.is_active }}</p>
  <p>Owner info</p>
  <p>Id:{{ item.owner.id }}</p>
  <p>Name:{{ item.owner.name }}</p>
  <p>Document:{{ item.owner.document }}</p>
  <p>Tipo de Documento:{{ item.owner.document_type }}</p>
  <div>
    <button (click)="delete()">Excluir</button>
    <p [routerLink]="['/farm/detail/update/', item.id]">Editar</p>
  </div>
</div>
